importFrom("grDevices", "colorRampPalette", "dev.new", "dev.off", "recordPlot")
importFrom("stats", "cutree", "dist", "filter", "hclust", "kmeans", "rect.hclust", "runif", "terms")
importFrom("utils", "capture.output", "head", "read.table", "str", "installed.packages")
importFrom("ggplot2", "ggplot", "scale_fill_distiller", "scale_size", "position_dodge", "qplot", "scale_fill_manual", "ggsave", "geom_col", "scale_size_area", "scale_color_fermenter", "scale_fill_brewer", "coord_fixed", "geom_line", "ylab", "xlab", "geom_polygon", "coord_polar", "geom_jitter", "geom_abline", "scale_alpha_continuous", "geom_bar", "guides", "%+replace%", "geom_vline", "scale_fill_gradientn", "geom_hline", "geom_segment", "aes", "theme", "geom_point", "geom_text", "scale_color_manual", "scale_shape_manual", "arrow", "unit", "labs", "coord_flip", "element_rect", "element_line", "element_blank", "element_text", "margin", "rel", "theme_gray", "theme_bw", "theme_linedraw", "theme_light", "theme_dark", "theme_minimal", "theme_classic", "theme_void")
importFrom("tcltk", "tkcanvas", "tkcreate", "tktext", "ttkbutton", "ttkcheckbutton", "ttkscrollbar", "ttkcombobox", "as.tclObj", "tkget", "ttknotebook", "tkadd", "tkmenu", "ttkentry", "ttkframe", "ttklabel", "ttklabelframe", "ttkradiobutton", "ttktreeview", "tcl", "tclvalue", "tclVar", "tkbind", "tkchooseDirectory", "tkconfigure", "tkdestroy", "tkentryconfigure", "tkfocus", "tkframe", "tkgetOpenFile", "tkgrid", "tkgrid.columnconfigure", "tkgrid.rowconfigure", "tkinsert", "tkitemconfigure", "tkmessageBox", "tkpack", "tkscale", "tkset", "tktag.configure", "tktoplevel", "tkwinfo", "tkwm.geometry", "tkwm.iconbitmap", "tkwm.maxsize", "tkwm.minsize", "tkwm.protocol", "tkwm.resizable", "tkwm.state", "tkwm.title", "tkxview", "tkyview")
importFrom("dplyr", "%>%", "ungroup", "group_by", "count", "rename", "summarise", "summarize", "n", "arrange", "desc", "mutate", "select", "group_modify", "top_n")
importFrom("tidyr", "pivot_wider", "gather", "separate")
importFrom("tibble", "column_to_rownames", "add_column")
importFrom("tm", "inspect", "as.DocumentTermMatrix", "Corpus", "tm_map", "VectorSource", "removePunctuation", "removeNumbers", "stemDocument", "stripWhitespace", "stemCompletion", "TermDocumentMatrix", "weightTfIdf", "weightTf", "content_transformer", "removeWords", "removeSparseTerms", "stopwords")
importFrom("tidytext", "unnest_tokens", "tidy")
importFrom("slam", "row_sums", "row_means")
importFrom("RColorBrewer", "brewer.pal", "brewer.pal.info")
importFrom("syuzhet", "get_sentiment", "get_sent_values", "get_nrc_sentiment", "get_nrc_values")
importFrom("ggwordcloud", "geom_text_wordcloud")

S3method(print, DataTM)
S3method(as.data.frame, HJBiplot)

export(TextMiningGUI)